nav {

    background-color: dodgerblue;
    margin: 0px; /*Es para que quede pegado arriba*/ 
    padding: 20px; /* Es para el alto del menú*/
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    }

nav a {
    display: grid; /* si pongo esto me la deja orizontal*/
    color: white;
    text-align: left;;
    padding:30px 40px;
    text-decoration: none;/* Esto sirve pra quitar el subrayado al texto*/
    }

nav a:hover {
    background-color: #006633;
    }

body{
    background-color: black;
    background-image: url(../Imagenes/foster%20the%20people%20backgroung.jpg);
    background-repeat:no-repeat;  /*Por defecto se ve en mosaico; si sólo se quiere ver solo una vez se usa repeat*/
    background-position: center top;  /* Muestra la ubicación de la imagen dentro de la página */
    background-size: cover;/* contain: Ajusta a la ventana*/
    background-attachment: fixed; /*atachement: Deja la imagen quieta por lo que sólo se mueve el texto */
  }

h1{  background-color: white;
    
  }

  img {
    display: block;
    margin: auto;

      }

p{
background-color:  white
}


h2{  background-color: white;
     text-align: center;
    
  }